@import "tailwindcss";
@import "tw-animate-css";

@keyframes meteor {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(200vh) translateX(-200vh);
    opacity: 0;
  }
}

.animate-meteor {
  animation: meteor linear infinite;
}
